# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123
GRAFANA_PORT=3000

# Prometheus Configuration
PROMETHEUS_PORT=9090

# Telegraf Configuration
TELEGRAF_PORT=9273

# MQTT Mosquitto Configuration
MQTT_PORT=1883
